@import "/src/styles/variables";
@import "/src/styles/pages/layout";

// prolly spacing/margins need adjustment

h3 {
  font-size: $grade50Font;
  margin: $defaultSpacing 0 $defaultSpacing 0;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc($defaultSpacing * 5) calc($defaultSpacing * 2) 0 calc($defaultSpacing * 2);

  h2 {
    font-size: $grade50Font;
    margin-bottom: calc($defaultSpacing * 2);
  }

  .logo {
    width: auto;
    max-height: 50px;
  }
}

.link {
  text-decoration: none;
  color: $specialTextColor;
}

.pagePadding {
  padding: calc($defaultSpacing * 2.5) 0 calc($defaultSpacing * 10) 0;
}
