$primaryColor: #60a3ab;
$secondaryColor: #3d7177;
$altTextColor: #000;
$specialTextColor: #fff;
$backgroundColor: #fff;

$defaultSpacing: 10px;
$defaultBorderRadius: 10px;
$defaultBorderWidth: 2px;

$grade100Font: 80px;
$grade80Font: 60px;
$grade70Font: 50px;
$grade60Font: 40px;
$grade55Font: 36px;
$grade50Font: 30px;
$grade45Font: 25px;
$grade40Font: 20px;
$grade35Font: 18px;
$grade30Font: 16px;
$grade25Font: 14px;

$boxShadow: 0 0 0 3px rgba(67, 67, 67, 0.2);
$navBoxShadow: 0px -4px 8px #444; //nav and minigames and login
$taskIconWidth: 28px; //in minigames

$navbarHeight: 50px