@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  position: relative;
  width: 300px;
  background-color: $backgroundColor;
  margin: 0 $defaultSpacing calc($defaultSpacing * 4) $defaultSpacing;
  border-radius: $defaultBorderRadius;
  display: flex;
  flex-direction: column;
  padding: calc($defaultSpacing * 2);
  box-sizing: border-box;
  justify-content: space-around;
  box-shadow: $boxShadow;
  row-gap: $defaultSpacing;

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: calc($defaultSpacing * 1.5);
    width: 100%;

    h2 {
      width: 100%;
      text-align: center;
      font-size: calc($grade45Font - 2px);
    }
  }
}

.button {
  @include darkHover;
}

.cardWithStatus {
  padding-top: $defaultSpacing * 4;
}
