@import "/src/styles/variables";

.taskStatus {
  display: flex;
  align-items: center;
  column-gap: calc($defaultSpacing / 2);
  text-transform: uppercase;
  color: white;
  position: absolute;
  z-index: 1;
  width: fit-content;
  font-size: $grade25Font !important;
  font-weight: 700;
  border-radius: 0 0 $defaultBorderRadius $defaultBorderRadius;
  padding: calc($defaultSpacing / 2) $defaultSpacing;
  top: calc($defaultBorderWidth * -1.5);
  right: $defaultSpacing;
  text-align: center;
}
.done {
  background-color: #467342;
}

.ongoing {
  background-color: #a36b00;
}

.todo {
  background-color: #6b1d1d;
}

.img {
  height: 24px;
}
